<%- include("partials/header") %> 

<h1>Thisn is the show templeate</h1>

<h1><%= campground.title%></h1>
<img src="<%= campground.imgURL%>" class="img-thumbnail" alt="...">
<p><%= campground.disc%></p>

<%- include("partials/footer") %> 